<div id="search-component" class="flex justify-center">
  <div class="mt-10 mb-10">
    <mat-form-field class="w-full sm:w-64 md:w-80 lg:w-96 xl:w-120">
      <!--<mat-label>Character Search</mat-label>-->
      <input #searchBox matInput (input)="search(searchBox.value)" placeholder="Start Writing..." class="text-blue-900">
    </mat-form-field>
    <ul class="search-result bg-zinc-200">
      <li *ngFor="let hero of heroes$ | async">
        <a routerLink="/detail/{{hero.id}}">{{hero.name}}</a>
      </li>
    </ul>
  </div>
</div>
