<div class="flex justify-center mt-10">
  <mat-card *ngFor="let hero of heroes" class="text-center justify-center mb-10">
    <mat-card-header>
      <mat-card-title class="font-bold text-white text-3xl bg-blue-900 pt-4 pb-4 ml-96 mr-96 custom-card-title">
        Details of {{hero.name | uppercase}}
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content class="font-light text-zinc-500 text-xl mt-5 mb-4">
      <p>id: {{hero.id}}</p>
      <p>Character Name: {{hero.name}}</p>
      <p>Number of comics available: {{hero.comics.available}}</p>
    </mat-card-content>

    <br>
    <mat-card-footer>
      <div class="flex items-center justify-center">
        <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.name}}">
      </div>
    </mat-card-footer>

    <mat-card-actions class="flex items-center justify-center">
      <button mat-raised-button (click)="goBack()" class="back">Go Back</button>
    </mat-card-actions>
  </mat-card>
</div>