.custom-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 75px;
  margin: 0;
}

button {
  margin-top: 20px;
  margin-right: 20px;
  width: 120px;
  height: 50px;
}

.back:hover {
  color: white;
  background-color: #2a377b;
}